{% extends "layouts/main.html" %}

{% block pageTitle %}
Child arrangement plan for Jay and Robyn – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">
        Child arrangement plan for Jay and Robyn
      </h1>

      <p>This is the child arrangements plan you've created. You must now share the plan with [other-parent] to get their agreement. </p> 



      <h2 class="govuk-heading-m">Who the plan is for</h2>
      <h3 class="govuk-heading-s">The children</h3>
      <p>Jay, Robyn</p>

      <h3 class="govuk-heading-s">Who is agreeing this plan?</h3>
      <p>Heather, Richard</p>



      <h2 class="govuk-heading-m">The arrangements</h2>
      <h3 class="govuk-heading-s">Living and visiting</h3>
      <p>The children will live with Heather and will be staying overnight with Richard once a week as a flexible arrangement.</p>

      <h3 class="govuk-heading-s">What will happen during holidays?</h3>
      <p>Heather and Richard agree to make plans with Jay and Robin about what will happen during the school holidays, at least 3 weeks before each holiday.</p>

      <h3 class="govuk-heading-s">What will happen on special days?</h3>
      <p>Jay and Robyn will stay with Heather for Christmas 2025 and with Richard Christmas 2026 and alternate each year.</p>



      <h2 class="govuk-heading-m">Other things</h2>
      <h3 class="govuk-heading-s">What other things matter?</h3>
      <p>We will arrange visits with grandparents and other relatives on an ad-hoc basis.</p>


      <h2 class="govuk-heading-m">Decision making</h2>
      <h3 class="govuk-heading-s">How will you agree changes?</h3>
      <p>Let's give each other at least 48 hours notice if plans need to change. We should agree changes by text message.</p>


     <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <p>Add your signature here if you agree with these arrangements. Then, send a signed copy back to Heather.</p>

      <p>Print your name:</p>
      <div style="width:100%; height: 2em; border-bottom: 2px solid black; margin-bottom:2em"></div> 


      <p>Signature:</p>
      <div style="width:100%; height: 2em; border-bottom: 2px solid black; margin-bottom:2em"></div> 


      <p>Date:</p>
      <div style="width:100%; height: 2em; border-bottom: 2px solid black; margin-bottom:2em"></div> -->









      <!--
      <form action="share" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      -->

    </div>

<div class="govuk-grid-column-one-third">
  <div style="border-top:10px solid #1d70b8;" class="govuk-related-items govuk-!-margin-bottom-4">
  </div>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Now share your plan</h2>
  <p class="govuk-body govuk-!-margin-bottom-2">Share your proposed plan with [other-parent] to get their agreement.</p>

        <p class="govuk-body">You can
        </p>
        <a href="#" class="govuk-link" style="text-decoration: none; text-align: left;">dowload the plan</a>
        <a href="#" class="govuk-link" style="text-decoration: none; text-align: left;">email the plan</a>
        <a href="#" class="govuk-link" style="text-decoration: none; text-align: left;">print it</a>




</div>

  </div>
{% endblock %}
