{% extends "layouts/main.html" %}

{% block pageTitle %}
How will you agree changes? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!-- <h1 class="govuk-heading-l">
        How will you agree changes?
      </h1>

      <p>There will be times when plans will need to change, such as if one parent is too unwell to care for children.</p> 
      
      <p>Think about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how changes should be agreed. For example, by email.</li>
        <li>how much notice you must give the other parent</li>
      </ul> -->

     <h1 class="govuk-heading-l">When will you review these child arrangements?</h1>
  

     <div class="govuk-inset-text">
  Children's needs change as they grow. You should review these arrangements at any time if their needs are not being met.
</div>

     <form class="form" action="make-a-plan" method="post">


   <p>You may want to change arrangements well ahead of time, such as to plan a holiday.</p>


{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "location",
  name: "location",
  label: {
    text: "Review child arrangements in"
  },
  
  items: [
    {
      value: "choose",
      text: "Choose number of years",
      selected: true
    },
    {
      value: "one year",
      text: "One year"
    },
    {
      value: "two years",
      text: "Two years"
    },
    {
      value: "three years",
      text: "Three years"
    },
    {
      value: "four years",
      text: "Four years"
    },
    {
      value: "five years",
      text: "Five years"
    }
    
  ]


}) 

}}






        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

            <p><a href="#">Skip this question</a></p>

    </div>
  </div>

{% endblock %}
