{% extends "layouts/main.html" %}

{% block pageTitle %}
Send this plan? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="send-plan-check" method="post">

        <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                    {% if data['where-children-live'] == 'With adult-a' %}
                        Send this plan to {{ data['first-name-other-adult'] }}?
                    {% else %}
                        Send this plan to {{ data['first-name-adult'] }}?
                    {% endif %}
                </h1>
              </legend>
              <div id="changedName-hint" class="govuk-hint">
                    {% if data['where-children-live'] == 'With adult-a' %}
                        {{ data['first-name-other-adult'] }} will get an email sent by GOV.UK
                    {% else %}
                        {{ data['first-name-adult'] }} will get an email sent by GOV.UK
                    {% endif %}
              </div>
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="send-plan-check" name="send-plan-check" type="radio" value="Yes" data-aria-controls="conditional-send-plan-check">
                  <label class="govuk-label govuk-radios__label" for="send-plan-check">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-send-plan-check">
                    <div class="govuk-form-group">
                      <label class="govuk-label" for="send-plan-by-email">
                        {% if data['where-children-live'] == 'With adult-a' %}
                            Enter {{ data['first-name-other-adult'] }}'s email address
                        {% else %}
                            Enter {{ data['first-name-adult'] }}'s email address
                        {% endif %}
                      </label>
                      <div id="event-name-hint" class="govuk-hint">
                        If you can, let the other person know to expect this email
                      </div>
                      <input class="govuk-input" id="send-plan-by-email" name="send-plan-by-email" type="email" spellcheck="false" autocomplete="email">
                    </div>
                  </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="send-plan-check-2" name="send-plan-check" type="radio" value="Not yet">
                  <label class="govuk-label govuk-radios__label" for="send-plan-check-2">
                    Not yet
                  </label>
                </div>
              </div>
            </fieldset>
          </div>


   

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
