{% extends "layouts/main.html" %}

{% block pageTitle %}
What else is important to include about visits? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="make-a-plan" method="post">

     
        {{ govukTextarea({
            name: "changeover-other-arrangments-details",
            id: "changeover-other-arrangments-details",
            label: {
              text: "How do you suggest the children get between households?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "Describe the arrangement you are proposing"
            }

          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>

      <p><a href="will-arrangements-change" value="skip">We do not need to decide this</a></p>
    </div>
  </div>

{% endblock %}

