{% extends "layouts/main.html" %}

{% block pageTitle %}
  Plan created – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "Plan created"
      }) }}


      <h2 class="govuk-heading-m">
        Share your plan
      </h2>

      <p>
        We've sent your application to Hackney Electoral Register Office.
      </p>

      <p>
        They will contact you either to confirm your registration, or to ask for more information.
      </p>
      <p>
        <a href="#">
          What did you think of this service?
        </a> (takes 30 seconds)
      </p>


    </div>
  </div>

{% endblock %}
