{% extends "layouts/main.html" %}

{% block pageTitle %}
  Who is using this service? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is [Parent2]'s email address
      </h1>

      <p>Make sure you have [Parent2]'s permission to use their email address to get emails about the plan.</p>

      <p>We will not email them about anything else and we do not share their email address with other government departments.</p>


      <form class="form" action="make-a-plan" method="post">

        {{ govukInput({
          label: {
            text: "[Parent-2]'s email address"
          },

          id: "other-adult-email",
          name: "other-adult-email"
        }) }}


        
  
  
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
