{% extends "layouts/main.html" %}

{% block pageTitle %}
  Who is using this service? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        What is your email address
      </h1>


      <p>We do not share this information with other government departments.</p>


      <form class="form" action="make-a-plan" method="post">

        {{ govukInput({
          label: {
            text: "Your email address"
          },

          id: "first-adult-email",
          name: "first-adult-email"
        }) }}


        
  
  
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
