
 

    <!--   {% if data['number-of-children'] == '1' %}
          <h2 class="govuk-heading-m">Proposed child arrangements for {{ data['first-child-name'] }}</h2>
        {% elif data['number-of-children'] == '2' %}
          <h2 class="govuk-heading-m">Proposed child arrangements for {{ data['first-child-name'] }} and {{ data['second-child-name'] }}</h2>
        {% elif data['number-of-children'] == '3' %}
          <h2 class="govuk-heading-m">Proposed child arrangements for {{ data['first-child-name'] }}, {{ data['second-child-name'] }} and {{ data['third-child-name'] }}</h2>
        {% elif data['number-of-children'] == '4' %}
        <h2 class="govuk-heading-m">Proposed child arrangements for {{ data['first-child-name'] }}, {{ data['second-child-name'] }}, {{ data['third-child-name'] }} and {{ data['fourth-child-name'] }} </h2>
        
        {% endif %} 

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible"> -->

     <h2 class="govuk-heading-l">About this child arrangements proposal</h2>

<p class="govuk-body">{{ data['first-name-adult'] }} said:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>there is no court order in place at this time </li>
  <li>this is a proposed child arrangements plan for 2 children, Annie and Billy </li>
  <li>this agreement is between {{ data['first-name-adult'] }} and {{ data['first-name-other-adult'] }}, who are the adults who will care for {{ data['first-child-name'] }}</li>
</ul>

<p>We do not store these names or share any of this information with other government departments.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<h2 class="govuk-heading-m">Living and visiting</h2>

<h3 class="govuk-heading-s">Where will the children mostly live?</h3>

<p>{{ data['first-name-adult'] }} has suggested that the children mostly live at {{ data['first-name-adult'] }}'s home.</p>


<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest where the children will mostly live
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<h3 class="govuk-heading-s">Will the children stay overnight with {{ data['first-name-other-adult'] }}? </h3>

<p>{{ data['first-name-adult'] }} has suggested that the children stay overnight with {{ data['first-name-other-adult'] }} every week.</p>


<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest what should happen about overnight visits
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<h3 class="govuk-heading-s">On which days will overnights happen?</h3>

<p>{{ data['first-name-adult'] }} has suggested that the children stay overnight with {{ data['first-name-other-adult'] }} every Monday and Wednesday.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest which days overnight visits should happen
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>



<h3 class="govuk-heading-s">Will the children do daytime visits with {{ data['first-name-other-adult'] }}?</h3>

<p>{{ data['first-name-adult'] }} has suggested that the children will not do daytime visits with {{ data['first-name-other-adult'] }}.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest when daytime visits will happen
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<h3 class="govuk-heading-s">End of section</h3>
<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    You can use this space to write your agreed compromise for the living and visiting section
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">



<h2 class="govuk-heading-m">Handovers and holidays</h2>

<h3 class="govuk-heading-s">How will the children get between households?</h3>

<p>{{ data['first-name-adult'] }} suggests that {{ data['first-name-adult'] }} drops off the children.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest how the children get between households
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<h3 class="govuk-heading-s">Where does handover take place?</h3>

<p>It may be easier for children if the handover takes place at a neutral location such as a park or railway station.</p>

<p>{{ data['first-name-adult'] }} suggests that someone else manages the handover.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest where handover takes place
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<h3 class="govuk-heading-s">Who will manage the handover?</h3>

<p>Enter the name of the person who will manage handover.</p>

<p>{{ data['first-name-adult'] }} suggested that handover will be managed by Aunt Alice.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest who manages handover  
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<h3 class="govuk-heading-s">Will these arrangements change during school holidays? </h3>

<p>{{ data['first-name-adult'] }}'s suggestion:<br>

These arrangements do not need to change during school holidays. </p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest how the arrangements change during school holidays
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<h3 class="govuk-heading-s">What items need to go between households?</h3>

<p>Items include clothes, sports kit, school equipment, toys and electronics, medicines and personal care items such as toothbrushes.</p>

<p>{{ data['first-name-adult'] }} suggested that handover will be managed by Aunt Alice.</p>


<p>{{ data['first-name-adult'] }}'s suggestion:<br>

School uniform which you have WASHED AND IRONED the night before. I need their iPads back every time.</p>




<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest what items need to go between households
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>



<h3 class="govuk-heading-s">End of section</h3>
<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    You can use this space to write your agreed compromise for the handovers and holidays section
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



<h2 class="govuk-heading-m">Special days </h2>

<h3 class="govuk-heading-s">What will happen on special days? </h3>

<p>Keep your children’s feelings at the centre of your plans for holidays and meaningful events. For example, New Year celebrations, Mother’s Day and Father’s Day, and birthdays.</p>

<p>{{ data['first-name-adult'] }}'s suggestion:<br>

The kids to spend alternate Christmas with each of us. NY you can have. Easter I will take them abroad. Mother’s Day obviously.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest what will happen on special days
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<h3 class="govuk-heading-s">End of section</h3>
<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    You can use this space to write your agreed compromise for the special days section
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



<h2 class="govuk-heading-m">Other things </h2>

<h3 class="govuk-heading-s">What other things matter to your children? </h3>

<p class="govuk-body">You may want to agree things such as:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>religious practices, diet, and standard rules across both households</li>
  <li>extra-curricular activities, such as swimming lessons</li>
  <li>access to other friends and family</li>
  <li>other types of contact, such as video calls</li>
</ul>


<p>{{ data['first-name-adult'] }}'s suggestion:<br>

Take them to swimming every week and don’t be late. Also I want to video call with the kids every night you have them.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest what other things matter to your children
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<h3 class="govuk-heading-s">End of section</h3>
<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    You can use this space to write your agreed compromise for the other things section
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<h2 class="govuk-heading-m">Decision making</h2>

<h3 class="govuk-heading-s">How should last-minute changes be communicated?</h3>

<p>There will be times when plans will need to change, such as if one parent is suddenly unwell and cannot collect a child from school.</p>

<p class="govuk-body">{{ data['first-name-adult'] }} suggested that you communicate last minute changes:</p>
<ul class="govuk-list govuk-list--bullet">

    <li>by text message</li>

    <li>by email</li>
  </ul>

  <p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest how last-minute changes should be communicated
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


 <h3 class="govuk-heading-s">How much notice should you give to change long-term arrangements?</h3>

<p>Sometimes you may need to plan a long way ahead. For example, if you want to plan a holiday during time you do not usually spend with the children.</p>

 

<p>{{ data['first-name-adult'] }} suggested you give each other 6 weeks notice.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest how much notice you should give to change long-term arrangements 
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>


 <h3 class="govuk-heading-s">When will the children’s needs change?</h3>

<div class="govuk-inset-text">You can also review these arrangements at an earlier time if they no longer meet your children’s needs.</div>

<p>Children's needs change as they grow. When should you review this agreement to check it is still what's best for the children?</p>

 

<p>{{ data['first-name-adult'] }} that you both review this agreement in 6 week’s time.</p>

<p class="govuk-body govuk-!-margin-bottom-2">Do you agree?</p>

<div class="govuk-form-group">
  <fieldset class="govuk-fieldset" role="group">

    <div class="govuk-date-input" id="passport-issued">
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-yes">
            Yes
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="panswer-yes" name="answer-yes" type="text" inputmode="numeric">
        </div>
      </div>
      <div class="govuk-date-input__item">
        <div class="govuk-form-group">
          <label class="govuk-label govuk-date-input__label" for="answer-no">
            No
          </label>
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="answer-no" name="answer-no" type="text" inputmode="numeric">
        </div>
      </div>
    </div>
  </fieldset>
</div>

<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    If you do not agree, suggest when you think the children’s needs will change
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>

<h3 class="govuk-heading-s">End of section</h3>
<div class="govuk-form-group govuk-!-margin-bottom-9">
  <label class="govuk-label" for="more-detail">
    You can use this space to write your agreed compromise for the decision making section
  </label>
  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5"></textarea>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


<h2 class="govuk-heading-m">What happens now?</h2>

<p>Now send this proposed child arrangements plan back to {{ data['first-name-adult'] }}. You should try to create a written record of what you have both agreed.</p> 
 

<p>If you are unable to reach agreement about your child arrangements, you can try mediation. The next step would be to apply for a court order.</p>
<p>https://www.gov.uk/looking-after-children-divorce</p>


 



 