{% extends "layouts/main.html" %}

{% block pageTitle %}
Safety check – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}


{% endblock %}

{% block content %}

{{ govukExitThisPage() }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <h1 class="govuk-heading-l">
        Safety check
      </h1>

      <p>
        This service asks you to work with your parenting partner to agree a plan for your children. You need to be able to state your needs and views without feeling intimidated.
      </p>

      <!-- I feel confident that I discuss things without feeling intimidated. -->

      <form class="form" action="content-1" method="post">

        {{ govukRadios({
          name: "safe-check-1",
          fieldset: {
            legend: {
              text: "Do you feel safe and confident?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes"
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
