{% extends "layouts/main.html" %}

{% block pageTitle %}
Enter the code – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  &nbsp;
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="start-nr" method="post">

        {{ govukInput({
          label: {
            text: "Enter the code",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          id: "event-name",
          name: "eventName",
          classes: "govuk-input--width-10"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
