{% extends "layouts/main.html" %}

{% set pageName="Version 2" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-9">

    <h1 class="govuk-heading-l">
      Version 2
    </h1>

    {{ govukTag({
      text: "In progress",
      classes: "govuk-tag--light-blue"
      }) }}

    </div>
  </div>

  {{ govukButton({
    text: "View full flow - v2",
    href: "start"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


    <h2 class="govuk-heading-m">Page list</h2>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Link</th>
          <th scope="col" class="govuk-table__header">Error page</th>
          <th scope="col" class="govuk-table__header">Confidence</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="start" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Start page</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="number-of-children" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">How many children is this for? </a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="add-children" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Add children - MoJ Add another component</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="children" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">About the children?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="adults" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Who is using this service?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-create" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Child arrangement plan - dashboard concept</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Child arrangement plan populated - dashboard concept</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-template" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Child arrangement plan - template concept</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-live-with" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Where will the children live?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-spend-time" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Who will the children visit?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-visits" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">When will visits happen?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-holidays" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">What will happen during holidays?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-special-days" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">What will happen on special days?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-changes" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">How will you agree changes?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-confirm" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Confirm the arrangement</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="share" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Plan created & share links</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>

      </tbody>
    </table>


    <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Changes</th>
              <th scope="col" class="govuk-table__header">Rationale</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">19 November 2024</th>
              <td class="govuk-table__cell">Version 2 prototype created</td>
              <td class="govuk-table__cell"></td>
            </tr> 
            </tbody>
          </table>

  </div>
</div>

{% endblock %}
