{% extends "layouts/main.html" %}

{% set pageName="Version 2" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-9">

    <h1 class="govuk-heading-l">
      Version 2
    </h1>

    {{govukTag({
      text: "Tested",
      classes: "govuk-tag--green"
    })}}

    </div>
  </div>

  {{ govukButton({
    text: "View full flow - v2",
    href: "email"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


    <h2 class="govuk-heading-m">Page list</h2>

   <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Link</th>
          <th scope="col" class="govuk-table__header">Error page</th>
          <th scope="col" class="govuk-table__header">Confidence</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="email" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Notify email</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          Content tested well but alternative links to template and start your own plan might had to be pointed out.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="code" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Enter the code</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              High
            </strong>
          </td>
          <td class="govuk-table__cell">
          Understood by all participants
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="start-nr" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Start page</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              High
            </strong>
          </td>
          <td class="govuk-table__cell">
          Tested well.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="content-1" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Disclaimer 1 - Safe and confident</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          Content tested well but some participants were not sure what to do if they didn't feel able to check the checkbox.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="content-2" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Disclaimer 2 - Children safe</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
            Content tested well but some participants were not sure what to do if they didn't feel able to check the checkbox.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="content-3" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Disclaimer 3 - Children's needs</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              High
            </strong>
          </td>
          <td class="govuk-table__cell">
            Content tested well and understood by all participants.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="review-plan" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Review arrangement plan - task list</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          <p>Partcipants were familiar with the task list pattern. However some users didn't realise they needed to review the sections, they thought they needed to fill each section out.</p>
          <p>Some participants felt living section and visiting section asked the same question.</p>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="review-live-with" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Review - Where will the children live?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              High
            </strong>
          </td>
          <td class="govuk-table__cell">
          Participants understood the page and what they could no next.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="suggest-change-live-with" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Suggest change - Where will the children live?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              High
            </strong>
          </td>
          <td class="govuk-table__cell">
          Tested well, participants understood the page.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="review-suggest-change-live-with" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Review suggested change - Where will the children live?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
            Tested well, participants understood the page but it may be unnecessary.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="review-changes" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Review - How will you agree changes?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
            Participants understood the page and what they could do next however the label of the section was not fully understood as some participants thought this related to the method of communication to agree changes.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="suggest-change-changes" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Suggest change - How will you agree changes?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
             High
            </strong>
          </td>
          <td class="govuk-table__cell">
            Tested well, participants understood the page.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="review-suggest-change-changes" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Review suggested change - How will you agree changes?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
            Tested well, participants understood the page but it may be unnecessary.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="check-your-plan" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Check your plan</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--green">
              High
            </strong>
          </td>
          <td class="govuk-table__cell">
            Users understood the purpose of the page and could recognise which sections they had suggested changes for.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="changes-sent" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Changes sent</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--red">
              Low
            </strong>
          </td>
          <td class="govuk-table__cell">
          Participants were unsure about what to do next and what was going to happen next, timescales for responses etc.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="plan-agreed" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Plan agreed</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
            Not tested in this round of research.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="task-list-alternate" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Alternate task list</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
            Not tested in this round of research.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="review-the-draft-plan" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Alternate page - review draft plan</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
            Not tested in this round of research.
          </td>
        </tr>
  
        

      </tbody>
    </table>

  


    <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Changes</th>
              <th scope="col" class="govuk-table__header">Rationale</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">26 November - 6 December 2024</th>
              <td class="govuk-table__cell">Version 2 tested with 8 participants.</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">26 November 2024</th>
              <td class="govuk-table__cell">Added a service name (Make a child arrangements plan) to the prototype.</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">25 November 2024</th>
              <td class="govuk-table__cell">Added a 'check your plan' page, based on the check your answers pattern, that allows the user to see all the sections of the plan before sending.</td>
              <td class="govuk-table__cell">Users can review the whole plan before submitting instead of clicking 'in and out' of task list sections.</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">22 November 2024</th>
              <td class="govuk-table__cell">User flow created based around the GDS task list pattern to allow non-resident parent to review the plan and suggest changes.</td>
              <td class="govuk-table__cell">GDS task list more suitable than previous card design.</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">21 November 2024</th>
              <td class="govuk-table__cell">UCD team ideation session for user journey for the non-resident parent.</td>
              <td class="govuk-table__cell"></td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">19 November 2024</th>
              <td class="govuk-table__cell">Version 2 prototype created.</td>
              <td class="govuk-table__cell"></td>
            </tr> 
            </tbody>
          </table>

  </div>
</div>

{% endblock %}
