{% extends "layouts/main.html" %}

{% block pageTitle %}
Child arrangement plan for Jay and Robyn – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Your proposed plan is ready to share
  </h1>
  <!--<div class="govuk-panel__body">
    Your reference number<br><strong>HDJ2123F</strong>
  </div> -->
</div>

       {% if data['number-of-children'] == '1' %}
          <h1 class="govuk-heading-l">Proposed child arrangements plan for {{ data['first-child-name'] }}</h1>
        {% elif data['number-of-children'] == '2' %}
          <h1 class="govuk-heading-l">Proposed child arrangements plan for {{ data['first-child-name'] }} and {{ data['second-child-name'] }}</h1>
        {% elif data['number-of-children'] == '3' %}
          <h1 class="govuk-heading-l">Proposed child arrangements plan for {{ data['first-child-name'] }}, {{ data['second-child-name'] }} and {{ data['third-child-name'] }}</h1>
        {% elif data['number-of-children'] == '4' %}
          <h1 class="govuk-heading-l">Child arrangement plan for {{ data['first-child-name'] }}, {{ data['second-child-name'] }}, {{ data['third-child-name'] }} and {{ data['fourth-child-name'] }}</h1>
        {% endif %}

  

      <p>You've created a proposed child arrangements plan. You must now share the plan with {{ data['first-name-other-adult'] }} to get their agreement.</p> 

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">What to do next</h2>
<p>Send this proposed child 
arrangements plan to {{ data['first-name-other-adult'] }}. {{ data['first-name-other-adult'] }} will have the chance to respond.</p>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">If {{ data['first-name-other-adult'] }} does not respond</h2>
<p>If {{ data['first-name-other-adult'] }} does not respond, you can try mediation. The next step would be to apply for a court order.</p>
<p><a href="https://www.gov.uk/looking-after-children-divorce/types-of-court-order" class="govuk-link">Find out more about what to do if you cannot agree.</a></p>



    </div>

<div class="govuk-grid-column-one-third">
  <div style="border-top:10px solid #1d70b8;" class="govuk-related-items govuk-!-margin-bottom-4">
  </div>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Now share your plan</h2>
  <p class="govuk-body govuk-!-margin-bottom-2">Send this proposed child 
arrangements plan to {{ data['first-name-other-adult'] }}.</p>

 
        <p><a href="#" class="govuk-link" style="text-decoration: none; text-align: left;">Download the plan</a></p>
        <p><a href="#" class="govuk-link" style="text-decoration: none; text-align: left;">Print the plan</a></p>




</div>

  </div>
{% endblock %}
