{% extends "layouts/main.html" %}

{% block pageTitle %}
What will happen on special days? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}




          <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="plan-special-days-act" method="post">


              <h1 class="govuk-heading-l">
                
What will happen on special days?

              </h1>

 <h2 class="govuk-heading-s">{{ data['first-name-adult'] }}'s answer:</h2>

<p class="govuk-body">The kids to spend alternate Christmas with each of us. NY you can have. Easter I will take them abroad. Mother’s Day obviously.
</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "plan-special-days-q",
  fieldset: {
    legend: {
      text: "Do you agree?"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
    
  ]
}) }}
    
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

            <p><a href="#">We do not need to decide this</a></p>

    </div>
  </div>

{% endblock %}
