{% extends "layouts/main.html" %}

{% block pageTitle %}
What other things matter? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}




          <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="plan-other-things-act" method="post">


              <h1 class="govuk-heading-l">
                
                {% if data['number-of-children'] == '1' %}
                    What other things matter to {{ data['first-child-name'] }}
                  {% else %}
                    What other things matter to your children?
                  {% endif %}  

              </h1>

 <h2 class="govuk-heading-s">{{ data['first-name-adult'] }}'s suggestion:</h2>

<p class="govuk-body">Take them to swimming every week and don’t be late. Also I want to video call with the kids every night you have them.
</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "plan-other-things-q",
  fieldset: {
    legend: {
      text: "Do you agree?"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
    
  ]
}) }}


    
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
            <p><a href="#">We do not need to decide this</a></p>

    </div>
  </div>

{% endblock %}
