{% extends "layouts/main.html" %}

{% block pageTitle %}
How will you agree changes? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}


 <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


     <form class="form" action="plan-review" method="post">

       {% set anotherHtml %}
        {{ govukTextarea({
          name: "another-arrangement-long-term",
          id: "another-arrangement-long-term",
          label: {
            text: "Describe the arrangement"
          }
        }) }}
      {% endset -%}


       {{ govukRadios({
          id: "long-term-notice",
  name: "long-term-notice",
          fieldset: {
            legend: {
              text: "How much notice should you give to change long-term arrangements?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
           hint: {
            text: "Sometimes you may need to plan a long way ahead. For example, if you want to plan a holiday during time you do not usually spend with the children."
          },
          items: [
            {
              value: "2 weeks",
              text: "2 weeks"
            },
                        {
              value: "4 weeks",
              text: "4 weeks"
            },
                      {
              value: "6 weeks",
              text: "6 weeks"
            },
                        {
              value: "8 weeks",
              text: "8 weeks"
            },
            {
              value: "Another arrangement",
              text: "Another arrangement",
              conditional: {
                html: anotherHtml}
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>
            <p><a href="#">We do not need to decide this</a></p>

    </div>
  </div>

{% endblock %}
