{% extends "layouts/main.html" %}

{% block pageTitle %}
How will you agree changes? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="plan-review-act" method="post">


              <h1 class="govuk-heading-l">
                
When will the children’s needs change?

              </h1>

 <h2 class="govuk-heading-s">{{ data['first-name-adult'] }}'s answer:</h2>

<p class="govuk-body">{{ data['first-name-adult'] }} suggested that you both review this agreement in 6 week’s time. 
</p>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "plan-review-q",
  fieldset: {
    legend: {
      text: "Do you agree?"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
    
  ]
}) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

            <p><a href="#">Skip this question</a></p>

    </div>
  </div>

{% endblock %}
