{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Your suggested living and visiting arrangements for Jay and Robyn
      </h1>

      <p>This is how your suggested arrangement will be sent to Richard:</p>

      <div class="govuk-inset-text">
        <p>
          The children will live with Heather and will be staying overnight with Richard once a week on Friday nights.
        </p>
  
        <p>
          The children will also spend time with Richard once every week on a flexible arrangement.
        </p>
  
        <p>
          Content from the anything else text area will be here.
        </p>
      </div>

      <form action="../make-a-plan" method="post" novalidate>

      
      {{ govukRadios({
        name: "whereDoYouLive",
        fieldset: {
          legend: {
            text: "Is this arrangement correct?",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Yes",
            text: "Yes"
          },
          {
            value: "No, I want to make some changes",
            text: "No, I want to make some changes"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    </div>
  </div>

{% endblock %}
