{% extends "layouts/main.html" %}

{% block pageTitle %}
How will the children's living arrangements be split evenly?  – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      <form class="form" action="anything-else" method="post">

        {% set anotherHtml %}
        {{ govukTextarea({
          name: "another-arrangement-split-equally",
          id: "another-arrangement-split-equally",
          label: {
            text: "Describe the arrangement"
          }
        }) }}
      {% endset -%}



        {{ govukRadios({
          name: "whereDoYouLive",
          fieldset: {
            legend: {
              text: "How will the children's living arrangements be split evenly? ",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "they will spend one week in one household and the next week in the other",
              text: "they will spend one week in one household and the next week in the other"
            },
            {
              value: "they will spend two days in one household, two days in the other, then alternating three-day weekends (2-2-3 schedule)",
              text: "they will spend two days in one household, two days in the other, then alternating three-day weekends (2-2-3 schedule)"
            },
            {
              value: "they will spend three days in one household, four days in the other, then switching the next week (3-4-4-3 schedule) ",
              text: "they will spend three days in one household, four days in the other, then switching the next week (3-4-4-3 schedule) "
            },
            {
              value: "the children stay in one home, and the adults move in and out",
              text: "the children stay in one home, and the adults move in and out"
            },
            {
              divider: "or"
            },
            {
              value: "Another arrangement",
              text: "Another arrangement",
              conditional: {
                html: anotherHtml
              }
            }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}


      </form>

      <p><a href="#">Skip this question</a></p>

    </div>
  </div>

{% endblock %}
