{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        You can still use this service
      </h1>

      <p>If you can reach agreement with the other parent or carer, then you do not need to go back to court to change your arrangements. <b>However, a court can only enforce the child arrangements that are in your court order.</b></p>

      <h2 class="govuk-heading-m">If you have prohibited steps order or a specific issue order</h2>
<p>Check any <b>legal documents sent to you by a judge</b> to see whether you have a prohibited steps order or a specific issue order (section 8).</p>

<p>You must not try to change <b>any rules given to you</b> in a prohibited steps order or specific issue order. You can only propose changes to other parts of your child arrangements, such as what day of the week your children visit you.</p>

      {{ govukButton({
        text: "Continue",
        href: "number-of-children"
      }) }}

    </div>
  </div>

{% endblock %}
