{% extends "layouts/main.html" %}

{% block pageTitle %}
Where will the children mostly live? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="living-visiting/will-arrangements-change" method="post">


        {% set anotherHtml %}
        {{ govukTextarea({
          name: "someone-else-handover",
          id: "someone-else-handover",
          label: {
            text: "Name of the person who will manage handover"
          }
        }) }}
      {% endset -%}


      {{ govukCheckboxes({
        name: "handover-location",
        id: "handover-location",
        fieldset: {
          legend: {
            text: "Where does handover take place?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "It may be easier for children if the handover takes place at a neutral location such as a park or railway station."
        },
        items: [
          {
            value: "Neutral location",
            text: "Neutral location"
          },
          {
            value: "At " + data['first-name-adult'] + "'s home'",
            text: "At " + data['first-name-adult'] + "'s home"
          },
                    {
            value: "At " + data['first-name-other-adult'] + "'s home",
            text: "At " + data['first-name-other-adult'] + "'s home"
          },
          {
            value: "At school",
            text: "At school"
          },

          {
            value: "Someone else will manage handover, such as a grandparent",
            text: "Someone else will manage handover, such as a grandparent",
            behaviour: "exclusive",
            conditional: {
              html: anotherHtml
            }
          }


        ]
      }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
  

      </form>

      <p><a href="#">We do not need to decide this</a></p>

    </div>
  </div>

{% endblock %}

