{% extends "layouts/main.html" %}

{% block pageTitle %}
What other things matter? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
                {% if data['number-of-children'] == '1' %}
                    What other things matter to {{ data['first-child-name'] }}
                  {% else %}
                    What other things matter to your children?
                  {% endif %}  
      </h1>

      <p class="govuk-body">You may want to agree things such as:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>Religious practices, diet, and standard rules across both households</li>
  <li>Extra-curricular activities, such as swimming lessons</li>
  <li>Access to other friends and family</li>
  <li>Other types of contact, such as video calls</li>
</ul>

      <!--<p>Which special days are important to you? </p>

      <p>For example, New Year celebrations, Mother’s day, UK bank holidays.</p> 

      <p>You should also consider holidays that don’t happen every year, such as an extra bank holiday to celebrate a royal event. </p>

      <p>You may also want to think about family birthdays and special events such as graduation ceremonies or military homecomings.</p> -->



      <form class="form" action="make-a-plan" method="post">


      {{ govukTextarea({
        name: "other-things",
        id: "other-things",
        label: {
          classes: "govuk-label--m"        }
      }) }}


    
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
            <p><a href="#">Skip this question</a></p>

    </div>
  </div>

{% endblock %}
