{% extends "layouts/main.html" %}

{% block pageTitle %}
Child arrangement plan for Jay and Robyn – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <div class="govuk-panel govuk-panel--confirmation">
  <h1 class="govuk-panel__title">
    Your proposed plan is ready to share
  </h1>
  <!--<div class="govuk-panel__body">
    Your reference number<br><strong>HDJ2123F</strong>
  </div> -->
</div>

       {% if data['number-of-children'] == '1' %}
          <h1 class="govuk-heading-l">Proposed child arrangements plan for {{ data['first-child-name'] }}</h1>
        {% elif data['number-of-children'] == '2' %}
          <h1 class="govuk-heading-l">Proposed child arrangements plan for {{ data['first-child-name'] }} and {{ data['second-child-name'] }}</h1>
        {% elif data['number-of-children'] == '3' %}
          <h1 class="govuk-heading-l">Proposed child arrangements plan for {{ data['first-child-name'] }}, {{ data['second-child-name'] }} and {{ data['third-child-name'] }}</h1>
        {% elif data['number-of-children'] == '4' %}
          <h1 class="govuk-heading-l">Child arrangement plan for {{ data['first-child-name'] }}, {{ data['second-child-name'] }}, {{ data['third-child-name'] }} and {{ data['fourth-child-name'] }}</h1>
        {% endif %}

  

      <p>You've created a proposed child arrangements plan. You must now share the plan with {{ data['first-name-other-adult'] }} to get their agreement.</p> 

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">What to do next</h2>
<p>Send this proposed child 
arrangements plan to [Name]. {{ data['first-name-other-adult'] }} will have the chance to respond.</p>

<h2 class="govuk-heading-s govuk-!-margin-bottom-2">If {{ data['first-name-other-adult'] }} does not respond</h2>
<p>If {{ data['first-name-other-adult'] }} does not respond, you can try mediation. The next step would be to apply for a court order.</p>
<p>Find out more about what to do if you cannot agree. </p>


      <h2 class="govuk-heading-m">Who the plan is for</h2>
      <h3 class="govuk-heading-s">The children</h3>

       {% if data['number-of-children'] == '1' %}
          <p>{{ data['first-child-name'] }}</p>
        {% elif data['number-of-children'] == '2' %}
          <p>{{ data['first-child-name'] }}, {{ data['second-child-name'] }}</p>
        {% elif data['number-of-children'] == '3' %}
          <p>{{ data['first-child-name'] }}, {{ data['second-child-name'] }} and {{ data['third-child-name'] }}</p>
        {% elif data['number-of-children'] == '4' %}
          <p class="govuk-heading-l">{{ data['first-child-name'] }}, {{ data['second-child-name'] }}, {{ data['third-child-name'] }} and {{ data['fourth-child-name'] }}</p>
        {% endif %}

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h3 class="govuk-heading-s">Who is agreeing this plan?</h3>
      <p>{{ data['first-name-adult'] }} and {{ data['first-name-other-adult'] }}</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h2 class="govuk-heading-m">The arrangements</h2>
      <h3 class="govuk-heading-s">Living and visiting</h3>
      <p>The children will be mostly living with {{ data['first-name-adult'] }}</p>

      <p>They will have overnight stays with {{ data['first-name-other-adult'] }} on Wednesdays and Saturdays</p>

      <p>They will visit {{ data['first-name-other-adult'] }} on Mondays but not stay over night</p>

      <h3 class="govuk-heading-s">What will happen during school holidays?</h3>
      <p>The living arrangements will change during school holidays</p>

      <p>'We will split the time equally during holidays'</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h3 class="govuk-heading-s">Handover and drop off</h3>
      <p>Each person collects {{ data['first-child-name'] }} at the start of their access time</p>
      <p>The change over location for {{ data['first-child-name'] }} is at the school</p>
       <p>Items need to go between households at changeover are: toothbrush, teddy, school uniform, pyjamas.


      <h3 class="govuk-heading-s">What will happen on special days?</h3>
      <p>{{ data['first-child-name'] }} will stay with {{ data['first-name-adult'] }} for Christmas 2025 and with {{ data['first-name-other-adult'] }} Christmas 2026 and alternate each year.</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">


      <h2 class="govuk-heading-m">Other things that matter</h2>
      <h3 class="govuk-heading-s">What other things matter?</h3>
      <p>We will arrange visits with grandparents and other relatives on an ad-hoc basis.</p>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



      <h2 class="govuk-heading-m">Decision making</h2>
      <h3 class="govuk-heading-s">How will you agree changes?</h3>
      <p>Last-minute changes should be communicated by text message</p>
      <p>We should give each other two weeks notice if we want to change long-term arrangements</p>
      <p>We can review our arrangement in a years time.</p>


     <!-- <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">


        <p>Add your signature here if you agree with these arrangements. Then, send a signed copy back to Heather.</p>

      <p>Print your name:</p>
      <div style="width:100%; height: 2em; border-bottom: 2px solid black; margin-bottom:2em"></div> 


      <p>Signature:</p>
      <div style="width:100%; height: 2em; border-bottom: 2px solid black; margin-bottom:2em"></div> 


      <p>Date:</p>
      <div style="width:100%; height: 2em; border-bottom: 2px solid black; margin-bottom:2em"></div> -->


<!-- test -->






      <!--
      <form action="share" method="post" novalidate>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>
      -->

    </div>

<div class="govuk-grid-column-one-third">
  <div style="border-top:10px solid #1d70b8;" class="govuk-related-items govuk-!-margin-bottom-4">
  </div>
  <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Now share your plan</h2>
  <p class="govuk-body govuk-!-margin-bottom-2">Send this proposed child 
arrangements plan to {{ data['first-name-other-adult'] }}.</p>

 
        <p><a href="#" class="govuk-link" style="text-decoration: none; text-align: left;">Download the plan</a></p>
        <p><a href="#" class="govuk-link" style="text-decoration: none; text-align: left;">Print the plan</a></p>




</div>

  </div>
{% endblock %}
