{% extends "layouts/main.html" %}

{% block pageTitle %}
How will you agree changes? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

     <!-- <h1 class="govuk-heading-l">
        How will you agree changes?
      </h1>

      <p>There will be times when plans will need to change, such as if one parent is too unwell to care for children.</p> 
      
      <p>Think about:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>how changes should be agreed. For example, by email.</li>
        <li>how much notice you must give the other parent</li>
      </ul> -->

     <h1 class="govuk-heading-l">When will the children’s needs change?</h1>
  

     <div class="govuk-inset-text">
  You can also review these arrangements at an earlier time if they no longer meet your children’s needs.
</div>

     <form class="form" action="make-a-plan" method="post">


   <p>Children's needs change as they grow. Put a time when you will review this agreement to check it is still what’s best for the children.</p>


{% from "govuk/components/select/macro.njk" import govukSelect %}

{{ govukSelect({
  id: "review-years",
  name: "review-years",
  label: {
    text: "Review child arrangements in"
  },
  
  items: [
    {
      value: "Choose number of years",
      text: "Choose number of years",
      selected: true
    },
    {
      value: "One year",
      text: "One year"
    },
    {
      value: "Two years",
      text: "Two years"
    },
    {
      value: "Three years",
      text: "Three years"
    },
    {
      value: "Four years",
      text: "Four years"
    },
    {
      value: "Five years",
      text: "Five years"
    }
    
  ]


}) 

}}






        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

            <p><a href="#">Skip this question</a></p>

    </div>
  </div>

{% endblock %}
