{% extends "layouts/main.html" %}

{% block pageTitle %}
Where will the children mostly live? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="handover-location" method="post">

       {% set anotherHtml %}
        {{ govukTextarea({
          name: "another-arrangement-collection",
          id: "another-arrangement-collection",
          label: {
            text: "Describe the arrangement"
          }
        }) }}
      {% endset -%}


        {{ govukRadios({
          name: "collection-responibility",
          id: "collection-responibility",
          fieldset: {
            legend: {
              text: "How will the children get between households?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },

          items: [


            {
            value: data['first-name-other-adult'] + " collects the children",
              text: data['first-name-other-adult'] + " collects the children"
            },

             {
            value: data['first-name-adult'] + " collects the children",
              text: data['first-name-adult'] + " collects the children"
            },

            {
              value: "Another arrangement",
              text: "Another arrangement",
              conditional: {
                html: anotherHtml}
            }

          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
  

      </form>

      <p><a href="#">We do not need to decide this</a></p>

    </div>
  </div>

{% endblock %}

