{% extends "layouts/main.html" %}

{% block pageTitle %}
    How many children is this for? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="children-data" method="post">

      {{ govukInput({
        label: {
          text: "How many children is this for?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        id: "number-of-children",
        name: "number-of-children",
        classes: "govuk-input--width-4"
      }) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
