{% extends "layouts/main.html" %}

{% block pageTitle %}
When will visits happen? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        When will visits happen?      </h1>

      <p>If the children live with one parent but visit another parent or guardian, use this page to describe when this happens. 
       </p> 
      
      <p>For example, the children might spend alternate weekends with the other parent.</p>

      <form class="form" action="plan-create" method="post">


      {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {

          isPageHeading: true
        }
      }) }}


    
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
