{% extends "layouts/main.html" %}

{% block pageTitle %}
Who will the children live with? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="plan-create" method="post">


      {{ govukTextarea({
        name: "moreDetail",
        id: "more-detail",
        label: {
          text: "Who will the children live with?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Describe who the children will live with most of the time."
        }
      }) }}


    
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
