{% extends "layouts/main.html" %}

{% block pageTitle %}
  Jay and Robyn's child arrangement plan – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}


{% block content %}





    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <form class="form" action="plan" method="post">

        <h1 class="govuk-heading-l">
          Jay and Robyn's child arrangement plan
        </h1>

        


        {{ mojTicketPanel({
          attributes: {
            'aria-label': 'Sub navigation 1'
          },
          items: [{
            html: ' 
            <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
              <a href="children-edit" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">The children</a>
            </h2>
            <p>Jay and Robyn</p>
            ',
            attributes: {
              'aria-label': 'Section 1'
            },
            classes: 'moj-ticket-panel__content--blue'
          }]
        }) }}



          {{ mojTicketPanel({
            attributes: {
              'aria-label': 'Sub navigation 1'
            },
            items: [{
              html: ' 
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="adults-edit" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Who is agreeing this arrangement</a>
              </h2>
              <p>Heather and Richard</p>
              ',
              attributes: {
                'aria-label': 'Section 1'
              },
              classes: 'moj-ticket-panel__content--blue'
            }]
          }) }}




          {{ mojTicketPanel({
            attributes: {
              'aria-label': 'Sub navigation 1'
            },
            items: [{
              html: ' 
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="plan-live-with" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Who they will live with</a>
              </h2>
              ',
              attributes: {
                'aria-label': 'Section 1'
              },
              classes: 'moj-ticket-panel__content--blue'
            }]
          }) }}



          {{ mojTicketPanel({
            attributes: {
              'aria-label': 'Sub navigation 1'
            },
            items: [{
              html: ' 
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="plan-spend-time" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Who they will spend time with</a>
              </h2>
              ',
              attributes: {
                'aria-label': 'Section 1'
              },
              classes: 'moj-ticket-panel__content--blue'
            }]
          }) }}



          {{ mojTicketPanel({
            attributes: {
              'aria-label': 'Sub navigation 1'
            },
            items: [{
              html: ' 
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="plan-visits" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">When visits will happen</a>
              </h2>
              ',
              attributes: {
                'aria-label': 'Section 1'
              },
              classes: 'moj-ticket-panel__content--blue'
            }]
          }) }}



          {{ mojTicketPanel({
            attributes: {
              'aria-label': 'Sub navigation 1'
            },
            items: [{
              html: ' 
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="plan-holidays" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">What happens during holidays</a>
              </h2>
              ',
              attributes: {
                'aria-label': 'Section 1'
              },
              classes: 'moj-ticket-panel__content--blue'
            }]
          }) }}



          {{ mojTicketPanel({
            attributes: {
              'aria-label': 'Sub navigation 1'
            },
            items: [{
              html: ' 
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="plan-special-days" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">What happens on special days</a>
              </h2>
              ',
              attributes: {
                'aria-label': 'Section 1'
              },
              classes: 'moj-ticket-panel__content--blue'
            }]
          }) }}



          {{ mojTicketPanel({
            attributes: {
              'aria-label': 'Sub navigation 1'
            },
            items: [{
              html: ' 
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="plan-changes" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">How to agree changes</a>
              </h2>
              ',
              attributes: {
                'aria-label': 'Section 1'
              },
              classes: 'moj-ticket-panel__content--blue'
            }]
          }) }}


          {{ mojTicketPanel({
            attributes: {
              'aria-label': 'Sub navigation 1'
            },
            items: [{
              html: ' 
              <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                <a href="plan-confirm" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Confirm the arrangement</a>
              </h2>
              ',
              attributes: {
                'aria-label': 'Section 1'
              },
              classes: 'moj-ticket-panel__content--blue'
            }]
          }) }}


          {{ govukButton({
            text: "Create and share your plan"
          }) }}

          </form>

          <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

          {{ govukButton({
            text: "View printable template",
            classes: "govuk-button--secondary",
            href: "plan-template"
          }) }}
      </div>
    </div>

  





{% endblock %}
