{% extends "layouts/main.html" %}

{% block pageTitle %}
  Plan created – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukCheckboxes({
        name: "waste",
        fieldset: {
          legend: {
            text: "Share your plan",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "You can share your plan in a few different ways. Select all that apply."
        },
        items: [
          {
            value: "Save a PDF copy",
            text: "Save a PDF copy"
          },
          {
            value: "Email a PDF copy",
            text: "Email a PDF copy"
          },
          {
            value: "Print this page",
            text: "Print this page"
          },
          {
            value: "Save and return",
            text: "Save and return"
          },
          {
            value: "Create an account",
            text: "Create an account"
          },
          {
            value: "Share schedule to your own calendar",
            text: "Share schedule to your own calendar"
          }
        ]
      }) }}
   
      {{ govukButton({
        text: "Continue"
      }) }}

    </div>
  </div>

{% endblock %}
