{% extends "layouts/main.html" %}

{% block pageTitle %}
  Who is using this service? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Who is using this service?
      </h1>

      <p>We don’t store this information or share it with other government departments.​</p>


      <form class="form" action="make-a-plan" method="post">

        {{ govukInput({
          label: {
            text: "Your first name"
          },
          id: "first-name-adult",
          name: "first-name-adult"
        }) }}
  
  
        {{ govukInput({
          label: {
            text: "First name of the other parent or guardian"
          },
          id: "first-name-other-adult",
          name: "first-name-other-adult"
        }) }}
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
