{% extends "layouts/main.html" %}

{% set pageName="Version 3" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-padding-bottom-9">

    <h1 class="govuk-heading-l">
      Version 3
    </h1>

    {{ govukTag({
      text: "In progress",
      classes: "govuk-tag--light-blue"
      }) }}

    </div>
  </div>

  {{ govukButton({
    text: "View full flow - v3",
    href: "email"
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">


    <h2 class="govuk-heading-m">Page list</h2>

   <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Link</th>
          <th scope="col" class="govuk-table__header">Error page</th>
          <th scope="col" class="govuk-table__header">Confidence</th>
          <th scope="col" class="govuk-table__header">Notes</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="start-nr" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Start page</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="content-1" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Disclaimer 1 - Safe and confident</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="content-2" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Disclaimer 2 - Children safe</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="content-3" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Disclaimer 3 - Children's needs</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="make-a-plan" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal">Make a child arrangement plan - task list</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <a href="review-live-with" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-normal"> Full flow - where will the children live?</a>
          </td>
          <td class="govuk-table__cell"></td>
          <td class="govuk-table__cell">
            <strong class="govuk-tag govuk-tag--yellow">
              Medium
            </strong>
          </td>
          <td class="govuk-table__cell">
          
          </td>
        </tr>
        

      </tbody>
    </table>

  


    <h2 class="govuk-heading-m govuk-!-margin-top-9">Design and research history</h2>

        <table class="govuk-table">
          <thead class="govuk-table__head">
              <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Date</th>
              <th scope="col" class="govuk-table__header">Changes</th>
              <th scope="col" class="govuk-table__header">Rationale</th>
              </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">28 November 2024</th>
              <td class="govuk-table__cell">Happy path created for the 'Where will the children live?' flow</td>
              <td class="govuk-table__cell">Multiple question flow to see if we can ask users a defined question set to work out child living and visit arrangements</td>
            </tr>
            <tr class="govuk-table__row">
              <th class="govuk-table__cell">28 November 2024</th>
              <td class="govuk-table__cell">Version 3 prototype created.</td>
              <td class="govuk-table__cell"></td>
            </tr> 
            </tbody>
          </table>

  </div>
</div>

{% endblock %}
