{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <h1 class="govuk-heading-xl">
      Child Arrangement Plan
    </h1>

    <h2 class="govuk-heading-l">Alpha</h2>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          User research, mural boards and user flows
        </span>
      </summary>
      <div class="govuk-details__text">
        Mural board - available by email invite only
      </div>
    </details>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Version</th>
          <th scope="col" class="govuk-table__header">Status</th>
          <th scope="col" class="govuk-table__header">Sprint</th>
          <th scope="col" class="govuk-table__header">Date</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/v2/" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 2</a>
          </th>
            <td class="govuk-table__cell">
              {{ govukTag({
              text: "In progress",
              classes: "govuk-tag--light-blue"
              }) }}
          </td>
          <td class="govuk-table__cell">
            Sprint 3
          </td>
          <td class="govuk-table__cell">
            20th November 2024
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">
            <a href="/v1/" class="govuk-link govuk-link--no-visited-state govuk-!-font-weight-bold">Version 1</a>
          </th>
            <td class="govuk-table__cell">
              {{govukTag({
                text: "Tested",
                classes: "govuk-tag--green"
              })}}
          </td>
          <td class="govuk-table__cell">
            Sprint 2
          </td>
          <td class="govuk-table__cell">
            6th November 2024
          </td>
        </tr>
      </tbody>
    </table>



  </div>
</div>

{% endblock %}
