{% extends "layouts/main.html" %}

{% block pageTitle %}
What else is important to include about visits or overnight stays?​ – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      

      <form class="form" action="check-your-answers" method="post">

     
        {{ govukTextarea({
            name: "anything-else",
            id: "anything-else",
            label: {
              text: "What else is important to include about visits or overnight stays?​",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "For example, pick up times​"
            }
          }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


      </form>

      <p><a href="will-arrangements-change" value="skip">Skip this question</a></p>

    </div>
  </div>

{% endblock %}
